/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  
  /* Logo section styles */
  .logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 200px;
    height: auto;
  }
  

  .form-section {
    flex: 1;
    max-width: 400px;
    padding: 20px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  .form-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-input:focus {
    border-color: #3498db;
  }
  
  /* Form button styles */
  .form-button {
    width: 100%;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #2980b9;
  }
  
  /* Register button styles */
  .register-button {
    background-color: transparent;
    border: none;
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
  }
  
  .register-button:hover {
    text-decoration: underline;
  }
  